/* #nav {
    font-family: 'Roboto Slab', serif;
} */
/* .brand-logo{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
} */

/* .material-icons{
    font-size: inherit;
} */

.navbar {
    font-family: 'Roboto Slab', serif;
}

section {
    padding: 60px 0;
}

/* 
#logo {
    padding-left: 11px;
    padding-bottom: 2px;
    padding-right: 7px;
    margin-left: 10px;
    margin-top: 4px;
} */

#logo {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.lhc-logo {
    min-height: 25px;
    height: 60px;
}

section.Ministries {
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 5px;

}

.box-slider {
    margin: 10px;
    padding: 10px;
}

/* Scroll To Top Button With Scroll Progress  */
html {
    scroll-behavior: smooth;
}

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #3f51b5;
    /* color: #001a2e; */
}

/* dark mode css  */


body {
    background-color: #eee;
    transition: color 1s ease, background-color 1s ease;
}


/* Add the class "dark-mode" to the body when the dark mode button is clicked */
body.dark-mode {
    background-color: #2d2d2d;
    color: #fff;
}

/* Add the class "dark-mode" to specific elements */
.dark-mode .card {
    background-color: #212121;
}


blockquote {
    border-left: 8px solid #3f51b5 !important;
}